:root {
    --svgAndTextColor: #e4e6eb;
}

.Home::-webkit-scrollbar {
    width: 8px;
}

.Home::-webkit-scrollbar-track {
    background-color: transparent;
}

.Home::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 6px #5e606175;
    border-radius: 10px;
    transition: 0.5s ease;
    visibility: hidden;
}

.Home::-webkit-scrollbar-thumb {
    background-color: #3a3b3c;
    border-radius: 10px;
    visibility: hidden;
}


/* scrol bar */

.Home {
    width: 79%;
    height: 92%;
    margin-top: -580px;
    overflow-y: scroll;
    float: right;
}


/* .home {
    overflow-y: auto;
} */

.containerStories {
    width: 50%;
    height: 300px;
    background-color: #242526;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 20px;
}

.containerTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #3e4042;
}

.containerStories .containerTitle h4 {
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
    color: var(--svgAndTextColor);
}

.stories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    margin-top: 20px;
}

.containerStory {
    width: 112px;
    height: 200px;
    background-repeat: no-repeat, repeat;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
}

.containerStory:hover {
    opacity: 0.8;
}

.containerStory img {
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid rgb(98, 0, 255);
    border-radius: 50%;
}

.containerStory h4 {
    margin-top: 130px;
    margin-left: 10px;
    color: var(--svgAndTextColor);
    font-size: 11px;
}

.containerForm {
    width: 50%;
    height: fit-content;
    background-color: #242526;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 20px;
}

.buttonPost {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0px 10px;
}

.buttonPost p {
    border-radius: 30px;
    height: 35px;
    width: 85%;
    background-color: #4445469a;
    color: #b0b3b8;
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
}

.buttonPost p:hover {
    background-color: #525455b6;
}

.containerInput form label {
    position: absolute;
    left: -99999px;
}

.containerInput {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.containerInput form input {
    border-radius: 30px;
    height: 35px;
    width: 420px;
    background-color: #4a4c4d;
    border: none;
    padding-left: 20px;
}

.containerInput form input:hover {
    background-color: #5a5c5e;
}

.containerInput form input:focus {
    outline: none;
}

.containerInput form input::placeholder {
    font-size: 15px;
    font-weight: 200;
    color: #b0b3b8;
}

hr {
    border: 0;
    height: 1px;
    background: #4a4c4d;
    width: 95%;
    margin: 0 auto;
}

.containerState {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.containerState div {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.containerState div:hover {
    background-color: #4a4c4d;
    border-radius: 10px;
}

.containerState div h4 {
    color: var(--svgAndTextColor);
    margin-left: 7px;
}

.containerState div svg {
    font-size: 30px;
    font-weight: bold;
}


/* post container*/

.containerPost {
    width: 50%;
    height: fit-content;
    background-color: #242526;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 20px;
    /* margin-bottom: 50px; trebuie sters la sfarsit*/
}

.topPost {
    display: block;
    margin: 0;
    padding: 10px;
}

.buttonDots {
    color: var(--svgAndTextColor);
    font-size: 25px;
}

.treeDotsButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.treeDotsButton:hover {
    background-color: #404142c0;
    transition: all 0.3s;
}

.buttonTreeDots {
    min-width: 110px;
    border-radius: 5px;
    padding: 5px;
    background-color: #242526;
    border: 1px solid #4a4c4d;
    color: white;
    margin-right: 50px;
    margin-top: 80px;
    position: relative;
    z-index: 10;
    font-size: 15px;
    cursor: pointer;
}

.buttonTreeDots:hover {
    background-color: #373738d5;
}

.containerTopPost {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageCon {
    padding: 10px 0;
    color: var(--svgAndTextColor);
    font-size: 14px;
    font-weight: 200;
}

.topPostImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textP h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--svgAndTextColor);
}

.textP p {
    font-size: 11px;
    font-weight: 200;
    color: var(--svgAndTextColor);
    opacity: 0.9;
}

.postImage {
    width: 100%;
}


/* coment and share */

.containerComent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    padding: 8px;
    color: var(--svgAndTextColor);
    opacity: 0.9;
    font-size: 13px;
}

.coments {
    display: flex;
    align-items: center;
}

.likes {
    display: flex;
    align-items: center;
}

.likes svg {
    margin-right: 9px;
}

.coments p:first-child {
    margin-right: 10px;
}

.containerIconsComent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.containerIconsComent div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--svgAndTextColor);
    width: 25%;
    padding: 10px;
    cursor: pointer;
}

.containerIconsComent div:hover {
    background-color: #6263664d;
    border-radius: 10px;
}

.containerIconsComent div svg {
    margin-right: 10px;
    font-size: 17px;
}

.messageContainer {
    float: right;
    width: 300px;
    height: 100%;
    right: 0;
    margin-top: 60px;
    top: 0;
    overflow-y: auto;
    position: fixed;
}

.messageContainer h3 {
    color: var(--svgAndTextColor);
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 10px 20px;
}

.containerMessages ul {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0 10px;
}

.containerMessages ul:hover {
    background-color: #6263664d;
    border-radius: 10px;
}

.containerMessages ul li {
    font-size: 14px;
    font-weight: 500;
}

.containerMessages ul div {
    border-radius: 50px;
    border: 2px solid blue;
    width: 25px;
    height: 25px;
}

.containerMessages ul li:hover {
    background-color: transparent;
}